* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.container {
  background-color: darkgray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 10px;
  flex: 1 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "item1 item2 item3"
    "item4 item4 item4"
    "item5 item5 item6";
  gap: 10px;
}

.header {
  background-color: white;
  height: 80px;
  padding: 0;
  margin: 0;
  border: 2px solid black;
}

.item {
  background-color: white;
  border: 2px solid black;
  height: 120px;
}

.item1 {
  grid-area: item1;
  min-width: 250px;
}
.item2 {
  grid-area: item2;
  min-width: 250px;
}
.item3 {
  grid-area: item3;
  min-width: 250px;
}
.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
  min-width: 350px;
}
.item6 {
  grid-area: item6;
  min-width: 250px;
}

.footer {
  background-color: white;
  height: 80px;
  padding: 0;
  margin: 0;
  border: 2px solid black;
}

@media (max-width: 780px) {
  /*ou seja, até 780px de altura ele terá esse formato de blocos*/
  .content {
    grid-template-areas:
      "item1 item1 item1"
      "item2 item2 item2"
      "item3 item3 item3"
      "item4 item4 item4"
      "item5 item5 item6";
  }
}

@media (max-width: 630px) {
  .content {
    grid-template-areas:
      "item1 item1 item1"
      "item2 item2 item2"
      "item3 item3 item3"
      "item4 item4 item4"
      "item5 item5 item5"
      "item6 item6 item6";
  }
}

@media (max-width: 360px) {
  /*só o item5 pq ele tem um width maior como foi definido antes*/
  .item5 {
    min-width: auto;
  }
}
