* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: darkgray;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 10px;
  grid-template-rows: auto
  grid-row: 1fr 1fr 1fr;
}

.item {
  border: 2px solid black;
  background-color: white;
  font-size: 30px;
  padding: 10px;
}

.item1 {
  grid-column: 1/4;
}
